<h1>New movies</h1>

  <div class="row buffer-both">
    <%= render partial: 'movies/movie', collection: @movies %>
  </div>

  <div class="actions">
    <%= link_to 'Create movie', new_movie_path, class: 'btn btn-info' %>
  </div>
