.movie-info {
  position:relative;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

.movie-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;

  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
}

.movie-description * {
  color: white;
}

.movie-description a {
  color: #d0d0ff;
}

.movie-description small {
  color: #e0e0e0;
}

.movie-info-inner {
  background:rgba(0, 0, 0, 0.4);
}

